@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-splash">
    <img class="mb-3" src="/img/LogoWhite.png"/>
    <h1 class="display-4">Welcome to SecureTix</h1>
    <p></p>
</div>
